<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/favicon-32x32.png">
    <link rel="stylesheet" href="../CSS/estilo.css">
    <title>Wadatienda✨</title>
</head>
<body>
    <header>
        <div id="arriba">
            <img class="Logo" src="../imagenes/WhatsApp Image 2022-08-16 at 10.15.59 AM.jpeg" alt="Wadatienda✨"></div>
        <nav>
            <ul class="Menu">
                <li class="item"><a href="../index.html">Home</a></li>
                <li class="item"><a href="./SobreMi.html">Sobre mí</a></li>
                <li class="item"><a href="./Productos.html">Productos</a>
                    <ul class="Submenu">
                        <li class="sub_i"><a href="./Bazar.html">Bazar</a></li>
                        <li class="sub_i"><a href="./Papeleria.html">Papelería</a></li>
                        <li class="sub_i"><a href="./Decoartesanal.html">Deco artesanal</a></li>
                        <li class="sub_i"><a href="./Decohogar.html">Deco hogar</a></li>
                        <li class="sub_i"><a href="./Mates.html">Mates</a></li>
                        <li class="sub_i"><a href="./Organizadores.html">Organizadores</a></li>
                        <li class="sub_i"><a href="./AromaySpa.html">Aroma y Spa</a></li>
                        <li class="sub_i"><a href="./Usopersonal.html">Uso personal</a></li>
                    </ul>
                </li>
                <li class="item"><a href="./Contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>   
    <main>
        <section>
            <h2>Papeleria</h2>
        </section>
    </main> 
    <footer>
        <a href="#arriba">
            <h5>ir arriba</h5>
        </a>
        <div>  
            <img class="contact" src="../imagenes/logo-whatsapp-2048.png" alt="contacto"> 
        </div>
        <div>  
            <img class="contact" src="../imagenes/Logo-Instagram-PNG.png" alt="contacto"> 
        </div>
        <div>  
            <img class="contact" src="../imagenes/facebook-logo-3.png" alt="contacto"> 
        </div>
    </footer>
</body>
</html>